.calculator {
    height: 350px;
    width: 250px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 10px 3px rgb(177, 177, 177);
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 1fr 50px 50px 50px 50px 50px;
}